<%= toggling_fieldset(l(:label_easy_helpdesk_self_signup), :collapsed => true) do %>
<p>
  <%= f.label :self_signup_default_role %>
  <%= f.select :self_signup_default_role, User.current.managed_roles(@easy_helpdesk_project.project).map {|role| [role, role.id]}, {include_blank: l(:label_easy_helpdesk_self_signup_disabled)} %>
</p>
<p>
  <%= f.label :self_signup_easy_user_type_id %>
  <%= f.select :self_signup_easy_user_type_id, EasyUserType.all.map {|e| [e.name, e.id]} %>
</p>
<p>
  <%= f.label :self_signup_notify_email %>
  <%= f.text_field :self_signup_notify_email %>
</p>
<% end %>